.main-content{
    position:relative;
}
    
    #product-img{
        width:100%;
    }

   .prev{
    left:4%;
   }

   .next{
    right:4%;
   }

   .arrow{
    position:absolute;
    top:50%;
    background-color:$white;
    border-radius: 50%;
    width:3.5rem;
    height:3.5rem;
    transform:translateY(-50%);
    cursor:pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
   }

   .thumb-gallery{
    display:none;
   }



